.am-list-extra{
    color: red!important;
    font-size: 12px!important;
}
.am-list-brief{
    color: #888;
    font-size: 13px !important;
    line-height: 1.5;
    margin-top: 6px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
 .am-tag-small{
     float: left;
     margin-top: 0.5rem;
     margin-right: 0.2rem;
 }
 .am-tag-small::after{
     clear: both;
 }